In [3]:
import pandas as pd
file = pd.read_parquet(r"C:\Users\jackm\Downloads\redictions.parquet", engine='pyarrow')
file

0      [[[1.0135539770126343, 0.0020852265879511833, ...
1      [[[1.0160226821899414, 0.00449544470757246, 0....
2      [[[1.0139158964157104, 0.002490564249455929, 0...
3      [[[1.009768009185791, 0.001774872769601643, 0....
4      [[[1.0134762525558472, 0.0014828360872343183, ...
...                                                  ...
72074  [[[1.011828899383545, 0.003762698732316494, 0....
72075  [[[1.0129014253616333, 0.002214568667113781, 0...
72076  [[[1.012285828590393, 0.000918581266887486, 0....
72077  [[[1.0162971019744873, 0.0040903156623244286, ...
72078  [[[1.015446662902832, 0.003899223171174526, 0....

[72079 rows x 1 columns]